<!-- Interpolation -->
<div>Room name: <strong>{{hotelName}}</strong></div>
<!-- <div [hidden]="hideRooms" [ngClass]="{ 'highlight': !hideRooms}"> -->
<div [hidden]="hideRooms">
    <!-- <div [innerText]="'Current quantity: ' + numberOfRooms"></div> -->
    Number Of Rooms: 
    <span [ngStyle]="{'color': rooms.availableRooms ? 'green' :'red'}" [innerText]="numberOfRooms"></span>
    {{ rooms.totalRooms < 0 ? "No rooms" : ''}}

    <div *ngIf="selectedRoom">
        {{selectedRoom | json}}
    </div>

    <div *ngIf="rooms.availableRooms > 0">
        <app-rooms-list [roomList]="roomList" (selectedRoom)="selectRoom($event)"></app-rooms-list>
    </div>
</div>
<!-- Event binding -->
<button (click)="toggle()" [innerText]="buttonShow"></button>