@import 'bootstrap/scss/bootstrap';

:host {
    display: block;
    margin-left: 1rem;

    button {
        border: none;
        text-decoration: none;
        display: inline-block;
        font-size: 1rem;
        background: none;
        padding: 0;
    }
    
    .highlight {
        background-color: yellow;
    }
}