<app-header #roomheader></app-header>
<!-- Interpolation -->
<div>Room name: <strong>{{hotelName}}</strong></div>
<div [hidden]="hideRooms">
    Number Of Rooms: 
    <span [ngStyle]="{'color': rooms.availableRooms ? 'green' :'red'}" [innerText]="numberOfRooms"></span>
    {{ rooms.totalRooms < 0 ? "No rooms" : ''}}

    <div *ngIf="selectedRoom">
        {{selectedRoom | json}}
    </div>

    <div>
        <button (click)="addRoom()">Add Room</button>
    </div>
    <div *ngIf="rooms.availableRooms > 0 && !hideRooms">
        <div *ngIf="rooms$ | async as rooms">
            <app-rooms-list [rooms]="rooms" (selectedRoom)="selectRoom($event)" (deletedRoom)="deleteRoom($event)" [title]="title"></app-rooms-list>
        </div>
    </div>
</div>
<!-- Event binding -->
<button (click)="toggle()" [innerText]="buttonShow"></button>
<button (click)="editRoom()" >Edit</button>