:host {
    .table {
        border: 1px solid grey;
    }

    tr th, tr td {
        padding: .5rem;
        vertical-align: top;
    }
    tr th {
        background: whitesmoke;
    }
    .even {
        background: gray;
        color: white;
        button {
            background-color: white;
            color: gray;
            border: none;
            &:hover {
                background: blue;
                color: white;
            }
        }
    }
    .odd {
        button {
            background-color: blue;
            border: none;
            &:hover {
                background: gray;
            }
        }
    }
}